.footer{
    position:absolute;
    bottom:0;
    max-width: 100vw !important;
    width: 100%;
    background-image:url('https://img.freepik.com/free-photo/blue-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-53167.jpg');
}